[mysqld]
user=mysql
default-storage-engine=INNODB
character-set-server=utf8
# SQL模式，去除了分组的
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
# 最大连接数
max_connections=3000
# 对大小写不敏感
lower_case_table_names=1
# 最大数据发送，如果在导入数据报错，可以改大
max_allowed_packet=200M
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8

