<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pw.system.modules.plugin.mapper.PluginDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pw.system.modules.plugin.dto.PluginDataDTO">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="schema_id" property="schemaId" />
        <result column="group_id" property="groupId" />
        <result column="config_data" property="configData" />
        <result column="component" property="component" />
        <result column="in_use" property="inUse" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`title`,`schema_id`,`group_id`,`config_data`,`component`,`in_use`,`state`
    </sql>

</mapper>
