<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.system.modules.config.mapper.CfgUploadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.system.modules.config.dto.CfgUploadDTO">
        <id column="id" property="id" />
        <result column="provider" property="provider" />
        <result column="enabled" property="enabled" />
        <result column="data" property="data" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`provider`,`enabled`,`data`,`remark`
    </sql>

</mapper>
