<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.system.modules.menu.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.system.modules.menu.entity.SysMenu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="menu_type" property="menuType" />
        <result column="permission_tag" property="permissionTag" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="redirect" property="redirect" />
        <result column="name" property="name" />
        <result column="meta_title" property="metaTitle" />
        <result column="meta_icon" property="metaIcon" />
        <result column="meta_active_menu" property="metaActiveMenu" />
        <result column="meta_no_cache" property="metaNoCache" />
        <result column="hidden" property="hidden" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`parent_id`,`menu_type`,`permission_tag`,`path`,`component`,`redirect`,`name`,`meta_title`,`meta_icon`,`meta_active_menu`,`meta_no_cache`,`hidden`,`sort`,`create_time`,`update_time`,`create_by`,`update_by`
    </sql>


    <resultMap id="MenuTreeMap" type="com.yf.system.modules.menu.dto.response.MenuTreeRespDTO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="menu_type" property="menuType" />
        <result column="permission_tag" property="permissionTag" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="redirect" property="redirect" />
        <result column="name" property="name" />
        <result column="meta_title" property="metaTitle" />
        <result column="meta_icon" property="metaIcon" />
        <result column="meta_active_menu" property="metaActiveMenu" />
        <result column="meta_no_cache" property="metaNoCache" />
        <result column="hidden" property="hidden" />
        <result column="sort" property="sort" />
        <collection property="children" column="id" select="listChildren"></collection>
    </resultMap>


    <select id="listTree" resultMap="MenuTreeMap">
        SELECT * FROM el_sys_menu WHERE parent_id=0 ORDER BY sort ASC
    </select>

    <select id="listChildren" resultMap="MenuTreeMap">
        SELECT * FROM el_sys_menu WHERE parent_id=#{id} ORDER BY sort ASC
    </select>



    <!-- 递归获得角色路由 -->
    <resultMap id="RouteResultMap"
               type="com.yf.system.modules.menu.dto.response.RouteRespDTO">

        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="menu_type" property="menuType" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="redirect" property="redirect" />
        <result column="name" property="name" />
        <result column="meta_title" property="metaTitle" />
        <result column="meta_icon" property="metaIcon" />
        <result column="meta_active_menu" property="metaActiveMenu" />
        <result column="meta_no_cache" property="metaNoCache" />
        <result column="hidden" property="hidden" />
    </resultMap>

    <select id="listMenuByRoles" resultMap="RouteResultMap">
        SELECT mu.* FROM el_sys_role_menu rm
        LEFT JOIN el_sys_menu mu ON rm.menu_id=mu.id
        WHERE mu.menu_type!=3 AND rm.role_id IN
        <foreach item="role" collection="roleIds" separator="," open="(" close=")">'${role}'</foreach>
        ORDER BY mu.`sort` ASC
    </select>

    <select id="listPermissionByRoles" resultType="String">
        SELECT mu.permission_tag FROM el_sys_role_menu rm
        LEFT JOIN el_sys_menu mu ON rm.menu_id=mu.id
        WHERE mu.permission_tag IS NOT NULL AND rm.role_id IN
        <foreach item="role" collection="roleIds" separator="," open="(" close=")">'${role}'</foreach>
    </select>


    <select id="findMaxSort" resultType="int">
        SELECT IFNULL(MAX(sort),0) FROM el_sys_menu WHERE parent_id=#{parentId}
    </select>

    <update id="incrSort">
        UPDATE el_sys_menu SET sort=sort+1 WHERE parent_id=#{parentId} AND sort>=#{start}
    </update>



</mapper>
